/* app css stylesheet */
body{
	height:100vh;
	font-family: 'Source Sans Pro', sans-serif;

}

.body{
	background-image:url('img/landing.jpg');
	background-size:100%;
	height:100vh;
}


.help-block{
	color:#d60000;
}

.reg-box{
	box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
	background-color: #fff;
	border-radius:4px;
	padding: 10px 50px 20px;
	margin-top:150px;	
}

.reg-box h2{
	font-family: 'Courgette', cursive;
}

.reg-link{
	margin-top:20px;
}



/*Entries Page*/

thead{
	color:#fff;
	background-color:#a9a9a9;
	border: 1px solid #a9a9a9;
}

tbody{
	border:1px solid #ccc;
	border-top:0;	
}

.page-title{
	margin-top:0px;
	margin-bottom:13px;
	font-size:31px;
	font-weight:bold;
	
}

.table{
	margin-top:15px;

}

.navbar{
	margin-bottom:0px;
}
.navbar-inverse{
	border-radius:0px;
}

.entry-body{	
	background-image:url('img/entry_bg.jpg');	
	background-size:100%;
	padding-top:40px;

}

.entry-container{
	min-height:100vh;
	background-color:#fff;
	padding-top:20px;
	border-radius:8px;
	box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
}